---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="About | The Curious Case of Ankan Ghosh??"
  description="About Ankan Ghosh and the cosmic personal journal behind The Curious Case of Ankan Ghosh."
>
  <section class="section mini-section">
    <section class="page-hero-strip">
      <img
        src="/banners/about-banner.png"
        alt="About page banner"
        class="page-hero-about-image"
      />
    </section>
    <h1 class="section-title">About</h1>

    <p>
        I’m <a href="/" class="text-link">Ankan Ghosh</a>. I like building things, thinking about space,
        exploring strange ideas, learning AI and writing from my own POVs.
        This website is my personal corner of the internet.


    </p>
  </section>
</BaseLayout>